body {
    background-color: burlywood;
}

#box {
    color: blueviolet;
    border: 5px solid black;
    width: 150px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 50px;

}

h1 {
    color: red;
    text-shadow: 0 0 2px black;
}